<div class="card mb-3">
    <img src="assets/img/CV.png" class="card-img-top img-fluid" alt="CV">
    <div class="card-body">
        <h1 class="display-4" style="color: white; font-weight: bold;">Yeyson Aldair Barillas H.</h1>
        <h2 style="color: rgb(171, 174, 160)">Desarrollador Jr.</h2>
        <p class=" card-text" style="color: white;">Ingeniero en Sistemas (5to. Semestre), Desarrollador Jr con
            experiencia en Java y conocimientos básicos de C++. gestiono con Angular y
            Spring Boot para
            crear aplicaciones web eficientes, y tengo habilidades en diseño frontend con Bootstrap. Además, manejo
            bases de datos
            PostgreSQL y MySQL para el desarrollo completo de proyectos, me caracterizo por ser una
            persona confiable,
            honesta, incansable por lo que quiere lograr, tengo la misión y deseo para formar parte de una
            empresa con fuerte dinámica competitiva con un sector a fin de lograr un mayor conocimiento tanto en
            consolidación de valores como desarrollo profesional</p>
    </div>
</div>