<div class="card mb-3">
    <img src="assets/img/CV.png" class="card-img-top img-fluid" alt="CV">
    <div class="card-body">
        <h5 class="card-title">Sobre Mí</h5>
        <p class="card-text">Soy Estudiante de Ingeniería en Sistemas, Me caracterizo por ser una persona confiable,
            honesta, incansable por lo que quiere lograr, empático y con la misión y deseo de formar parte de una
            empresa con fuerte dinámica competitiva con un sector a fin de lograr un mayor conocimiento tanto en
            consolidación de valores, responsabilidad como desarrollo personal.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>