body {
    margin-bottom: 60px;
    color: gray;
    /* Ajusta el valor según el tamaño del footer */
}

.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    /* Ajusta el valor según la altura deseada */
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 15px;
    /* Ajusta el valor según el espacio deseado arriba del texto */
}