html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    margin-bottom: 60px;
    color: gray;
}

.content {
    flex: 1;
}

.footer {
    height: 60px;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 15px;
    position: relative;
    width: 100%;
}