<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">

            <li class="nav-item active" routerLinkActive="active">
                <button type="button" class="btn btn-light"><a class="nav-link" routerLink="">Perfil<span
                            class="sr-only">(current)</span></a></button>
            </li>

            <li class="nav-item active" routerLinkActive="active">
                <button type="button" class="btn btn-light"><a class="nav-link" routerLink="/vitae">Hoja de Vida<span
                            class="sr-only">(current)</span></a></button>
            </li>


            <li class="nav-item active" routerLinkActive="active">
                <button type="button" class="btn btn-light"><a class="nav-link" routerLink="/tecnology">Tecnologias<span
                            class="sr-only">(current)</span></a></button>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <button type="button" class="btn btn-light"><a class="nav-link"
                        routerLink="/proyects">Proyectos</a></button>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <button type="button" class="btn btn-light"><a class="nav-link"
                        routerLink="/contacto">Contacto</a></button>
            </li>

        </ul>
    </div>
</nav>