.navbar {
    background-color: transparent !important;
    text-align: center;
}

.navbar-brand img {
    width: 60px;
    height: auto;
    border-radius: 15px;
    /* Hace que las esquinas sean redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    /* Añade una sombra */
}

.nav-item {
    margin: 0 10px;
    /* Ajusta este margen según sea necesario */
}

.navbar-nav {
    justify-content: center;
}