<div class="navbar">
    .
</div>
<div class="container">
    <div class="left-section">
        <div class="header">
            <img src="assets/img/CV.png" alt="Yeyson Aldair Barillas Hernández">
            <div class="header-info">
                <h1>Yeyson Aldair</h1>
                <h2>Barillas Hernández</h2>
                <p>Ingeniería en Sistemas de Información y Ciencias de la Computación (5to. Semestre)</p>
                <p>Bachiller Ciencias y Letras con Orientación en Computación</p>
                <p>Desarrollador (Aspirante)</p>
            </div>
        </div>

        <div class="section">
            <h2>Experiencia Laboral</h2>
            <ul>
                <li>
                    <strong>Grupo Kerry Amatitlan, Guatemala S. A. | Asistente de Producción.</strong><br>
                    Sep 2022/Actualmente<br>
                    Encargado del análisis de ordenes de producción, validando costos dentro de ERP SAP, cantidades
                    proyectadas, carga y retornos de productos utilizados en recetas incluyendo cierre TECO a las
                    mismas, confirmaciones y des confirmaciones de fases en tiempo de procesos, resolución de casos
                    específicos en el proceso, inventario general del depto. seguimiento a la programación semanal de la
                    producción entre otros.
                </li>
                <li>
                    <strong>Grupo Kerry Amatitlan, Guatemala S. A. | Auxiliar Digitador de Costos, Asistente de
                        Contabilidad (Importaciones)</strong><br>
                    Nov 2019 / Ago 2022<br>
                    Encargado de realizar el análisis validación de costos de operaciones de carga, retorno y cierre de
                    OP así como control general de las ordenes, transformaciones de estas para realizar despachos hacia
                    las diferentes bodegas, ingreso financiero de importaciones por (DUCA) y el costo de la materia
                    prima.
                </li>
                <li>
                    <strong>Corbuma Corp, Grupo Alza - Tecni Spice. | Operario de Producción.</strong><br>
                    Mar 2019 / Nov 2019<br>
                    Realizar operaciones de mezclado, empaque de productos y materias prima transformaciones de estas
                    para realizar despachos hacia las diferentes bodegas.
                </li>
            </ul>
        </div>

        <div class="section">
            <h2>Educación</h2>
            <ul>
                <li>
                    <strong>Estudios Universitarios:</strong> 2022-Actualmente (5to. Semestre, 2024)<br>
                    Universidad Mariano Gálvez de Guatemala, Licenciatura en Ingeniería en sistemas de información y
                    ciencias de la Computación.
                </li>
                <li>
                    <strong>Estudios Diversificados:</strong> 2016-2017<br>
                    Instituto Nacional De Educación Diversificada INED-PALIN, Jornada Vespertina, Bachillerato En
                    Ciencias Y Letras Con Orientación En Computación.
                </li>
                <li>
                    <strong>Estudios Básicos:</strong> 2013-2015<br>
                    Instituto Nacional De Educación Básica INEB-PALIN, Jornada Matutina
                </li>
                <li>
                    <strong>Estudios Primarios:</strong> 2007-2012<br>
                    Escuela Oficial Urbana Mixta, José Domingo Guzmán, Jornada Matutina.
                </li>
            </ul>
        </div>
    </div>

    <div class="right-section">
        <div class="contact-info">
            <h2>Contacto</h2>
            <ul>
                <li>4ta. Avenida “A” 1-15 Zona 1, Barrio, San Pedro, Palín, Escuintla, Guatemala.</li>
                <li>Email: yeysonaldair13&#64;gmail.com</li>
                <li>Tel: +502 46402539</li>
                <li>Tel: +502 57691317</li>
            </ul>
        </div>

        <div class="knowledge">
            <h2>Conocimientos</h2>
            <ul>
                <li>Manejo de SAP SE</li>
                <li>Manejo de INFOR LABEL</li>
                <li>Suite de Microsoft Office 365</li>
            </ul>
        </div>

        <div class="languages">
            <h2>Idiomas</h2>
            <ul>
                <li>Español – Natal</li>
                <li>Inglés – A2</li>
            </ul>
        </div>

        <div class="courses">
            <h2>Cursos</h2>
            <ul>
                <li>Máster Completo en Java de cero a experto 2024 (Nov,2023-Ene,2024)</li>
                <li>Angular & Spring Boot: Creando web app full stack (Ene,2024-Marzo,2024)</li>
                <li>Máster en SQL Server: Desde Cero a Nivel Profesional (Pendiente de Aprobar)</li>
                <li>Starters (Blended Learning) Ene,2021-Mar,2021.</li>
                <li>Beginners 1 (Blended Learning) Abr,2021-Jun,2021.</li>
            </ul>
        </div>

        <div class="about">
            <h2>Sobre mí</h2>
            <ul>
                <li>Me caracterizo por ser una persona confiable, honesta, incansable por lo que quiere lograr, empático
                    y con la misión y deseo de formar parte de una empresa con fuerte dinámica competitiva con un sector
                    a fin de lograr un mayor conocimiento tanto en consolidación de valores, responsabilidad como
                    desarrollo personal.</li>
            </ul>
        </div>

        <div class="skills">
            <h2>Aptitudes</h2>
            <ul>
                <li>Habilidades comunicativas.</li>
                <li>Respeto y Empatía.</li>
                <li>Flexibilidad y Adaptabilidad.</li>
                <li>Organización y Responsabilidad.</li>
            </ul>
        </div>
    </div>
</div>
<div class="download">
    <!-- Botón de descarga -->
    <button type=" button" class="btn btn-secondary" (click)="downloadPDF()">Descargar CV (PDF)</button>
</div>