<div class="jumbotron jumbotron-fluid text-center" style="background-color: transparent">
    <div class="container">
        <h1 class="display-4" style="color: white; font-weight: bold;">Conocimiento Tecnico en</h1>
    </div>
</div>


<div class="card-deck">
    <div class="card">
        <img src="assets/img/java.svg" class="javalogo" alt="...">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h6>Lenguaje</h6>
            <h5 class="card-title">Java</h5>
            <p class="card-text">Tengo mas de un año de experiencia en Java siendo un lenguaje de programación orientado a objetos, multiplataforma, seguro y
                robusto.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="assets/img/cpp.png" class="card-img-top" alt="...">
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h6>Lenguaje</h6>
            <h5 class="card-title">C++</h5>
            <p class="card-text">Dispongo de conocimentos basicos de este lenguaje de programación de propósito general, potente y eficiente.</p>
        </div>
    </div>



    <div class="card">
        <img src="assets/img/angular.png" class="angular" alt="...">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="card-body">
            <h6>Framework</h6>
            <h5 class="card-title">Angular CLI</h5>
            <p class="card-text">Tengo conomiento de Angular CLI por ser  una herramienta de línea de comandos para desarrollar aplicaciones web
                Angular.
            </p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/boostrap.png" class="card-img-top" alt="...">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h6>Framework CSS</h6>
            <h5 class="card-title">Boostrap</h5>
            <p class="card-text">Es un framework front-end de código abierto para desarrollo web responsivo, integrado en dos de mis proyuectos realizados.
            </p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/spring.png" class="card-img-top" alt="...">
        <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h6>Framework</h6>
            <h5 class="card-title">Spring Boot</h5>
            <p class="card-text">Dispongo de conocimiento en Spring es un framework de desarrollo de aplicaciones Java empresariales, desarrolle un proceso a traves del mismo.</p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/mysql.webp" class="card-img-top" alt="...">
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h6>Base de Datos</h6>
            <h5 class="card-title">MySQL Workbench</h5>
            <p class="card-text">MySQL Workbench es una herramienta de diseño y administración de bases de datos MySQL.
            </p>
        </div>
    </div>


    <div class="card">
        <img src="assets/img/postgre.png" class="card-img-top" alt="...">
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Postgre MySQL</h5>
            <p class="card-text">PostgreSQL es un sistema de gestión de bases de datos relacional de código abierto y
                altamente extensible.</p>
        </div>
    </div>
</div>