<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4" style="color: rgb(74, 80, 133);">Proyectos</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto Gestión Paciente</h5>
                            <h6>Lenguaje: </h6>
                            <p>Java</p>
                            <h6>Base de Datos: </h6>
                            <p>Postgre MySQL</p>
                            <h6>Tecnologías Utilizadas, IDE</h6>
                            <p>Angular CLI, Spring Boot, Bootstrap, Visual Studio Code </p>
                            <h6>Funcionalidad: </h6>
                            <p>Permite registrar, actualizar, consultar y eliminar información de pacientes, facilitando
                                su administración médica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Carrusel de imágenes -->
            <carousel>
                <slide *ngFor="let image of images">
                    <img [src]="image" class="d-block w-100" alt="...">
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto MaxiAbarrotes</h5>
                            <h6>Lenguaje: </h6>
                            <p>Java</p>
                            <h6>Base de Datos: </h6>
                            <p>MySQL Workbench</p>
                            <h6>Tecnologías Utilizadas, IDE</h6>
                            <p>Maven, Tomcat, PrimeFaces, Bootstrap, NetBeans 8.2</p>
                            <h6>Funcionalidad: </h6>
                            <p>Permite registrar, actualizar, consultar y eliminar información de una abarroteria,
                                facilitando
                                su administración de los diferentes productos de materia prima asi tambien por medio de
                                usuarios.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Carrusel de imágenes -->
            <carousel>
                <slide *ngFor="let images of images1">
                    <img [src]="images" class="d-block w-100" alt="...">
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto Ferreteria El Clavo Feliz</h5>
                            <h6>Lenguaje: </h6>
                            <p>C++</p>
                            <h6>Base de Datos: </h6>
                            <p>MySQL Workbench</p>
                            <h6>Entorno de Desarrollo</h6>
                            <p>Visual Studio 2022</p>
                            <h6>Funcionalidad: </h6>
                            <p>Permite registrar, actualizar, consultar y eliminar información de una ferreteria,
                                facilitando
                                su administración de los diferentes productos de materia prima a traves de consola.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Carrusel de imágenes -->
            <carousel>
                <slide *ngFor="let imagenes of images2">
                    <img [src]="imagenes" class="d-block w-100" alt="...">
                </slide>
            </carousel>
        </div>
    </div>
</div>