.carousel {
    max-width: 600px;
    /* Ajusta el ancho del carrusel */
    margin: auto;
    /* Centra el carrusel */
}

.carousel-inner img {
    height: 300px;
    /* Ajusta la altura de las imágenes */
    object-fit: cover;
    /* Asegura que las imágenes se ajusten bien al contenedor */
}

.container {
    text-align: center;
}